server:
  port: 9088

spring:
  data:
    mongodb:
      uri: mongodb+srv://admin:gigatorb@ucep.t7lh77n.mongodb.net/ucep
#       authentication-database: admin
#       username: admin
#       password: Ped@l123
#       database: ucep
#       port: 27017
#       host: localhost
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  servlet:
    multipart:
      max-file-size: 256MB
      max-request-size: 256MB
      enabled: true
  rabbitmq:
    addresses: localhost:5672
  batch:
    job:
      enabled: false
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
